/* IMPORTS FONT */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* CONTENU DE LA PAGE */


body {
    background: linear-gradient(0deg, rgba(170, 203, 245, 1) 0%, rgba(238, 255, 254, 1) 20%, rgba(238, 255, 254, 1) 70%, rgba(170, 203, 245, 1) 100%);
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    font-family: Lobster Two;
    font-size: 48px;
    text-align: center;
    margin: 0 0 48px 0;
}

h2 {
    font-family: Lobster Two;
    font-size: 36px;
    margin: 0 0 80px 0;
    text-align: center;
}

.h1-connex {
    margin: 0px 0px 64px 0px;
}

h3 {
    font-family: Lobster Two;
    font-size: 30px;
    margin: 0 56px 0 0;
    width: 210px;
}

p {
    font-family: Bellota;
    font-size: 18px;
}

.content {
    margin: 0px auto 96px auto;
    width: 1040px;
}

.btn-infos {
    width: 365px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 9px 0px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(#3565BC, #114198);
    font-family: Bellota;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.fa-pen, .fa-ranking-star {
    margin: 0 24px 0 0;
}

.fa-image {
    color: rgba(238, 255, 254, 1);
    font-size: 68px;
    cursor: pointer;
}

i.fa-solid.fa-image:hover {
    color: #114198;
    text-shadow: 5px 5px 0px #eefffe;
}

.titre-et-button {
    display: flex;
    margin: 0 0 48px 0;
    align-items: center;
}

.photo-profil {
    min-width: 210px;
    height: 210px;
    border-radius: 100%;
    background-image: url(../../images/01.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 56px 0px 0;
}

input#avatar {
    position: absolute;
    top: 27%;
    left: 28%;
    height: 90px;
    width: 90px;
    opacity: 0;
    cursor: pointer;
}

.photo-infos {
    display: flex;
    margin: 0 0 56px 0;
}

.infos-persos {
    display: flex;
    flex-wrap: wrap;
}

.info {
    margin: 0 24px 24px 0;
    display: flex;
}

span.souligne{
    font-weight: bold;
    text-decoration: underline;
}

.mes-classement {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 68px 0;
}

.list-classements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-classement {
    width: 365px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 9px 0px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(#EDC267,#9a6748);
    font-family: Bellota;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.carte-quiz {
    background: white;
    width: 157px;
    height: 157px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 24px 0;
}

.carte-quiz i {
    font-size: 68px;
}

.fa-basketball {
    color: orange;
}

.fa-flask-vial {
    color: blueviolet;
}

.fa-music {
    color: yellowgreen;
}

.fa-video {
    color: #3467ff;
}

.fa-feather {
    color: brown;
}

.fa-earth-americas {
    color: cadetblue;
}

.fa-gamepad {
    color: violet;
}

p.titre-carte {
    margin: 16px 0 0 0;
    font-size: 20px;
    font-weight: bold;
}

.btn-securite {
    background: white;
    width: 68px;
    height: 29px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px hsl(0deg 0% 0% / 25%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4px 0 0;
}

.cercle-jaune {
    height: 23px;
    width: 23px;
    background: #EDC267;
    border-radius: 100px;
}

.list-btn-securite {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-et-txt {
    display: flex;
    width: 25%;
    margin: 0 0 40px 0;
    align-items: center;
}

p.param {
    margin: 0 0px 0 16px;
}

.securite {
    margin: 0 0 24px 0;
}

a {
    text-decoration: none;
}