/* IMPORTS FONT */
/* DEBUT COPIER COLLER POUR CSS AUTRES PAGES */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* CONTENU DE LA PAGE */



body {
    background: linear-gradient(0deg, rgba(170, 203, 245, 1) 0%, rgba(238, 255, 254, 1) 20%, rgba(238, 255, 254, 1) 70%, rgba(170, 203, 245, 1) 100%);
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    font-family: Lobster Two;
    font-size: 48px;
    text-align: center;
    margin: 0 0 64px 0;
}

.h1-bouz{
    margin: 0 0 64px 0;
}

h2 {
    font-family: Lobster Two;
    font-size: 36px;
    margin: 0px 0px 16px 0px;
}

h3 {
    font-family: Lobster Two;
    font-size: 30px;
    margin: 0px 0px 16px 0px;
}

h3.bouz {
    text-align: left;
    margin: 45px;
}

p {
    font-family: Bellota;
    font-size: 18px;
}
/* FIN COPIER COLLER POUR CSS AUTRES PAGES */
.margin {
    width: 1040px;
    margin: 0px auto;
}


/********************** SEARCHBAR DEBUT *****************/

#SearchBar {
    position: relative;
    height: 125px;
    display: flex;
    align-items: center;
}

.search-container {
    color: #009;
    font-size: 12px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    display: block;
    left: 71px;
    top: -120px;
    background-size: 10%;
}

input#searchBar {
    width: 100%;
    border-radius: 100px;
    box-shadow: 0px 0px 5px #0000007d;
    padding: 5px 0px 5px 10px;
    margin: 0px 200px;
    border: none;
    font-family: "Bellota", system-ui;
}

/********************** SEARCHBAR FIN *****************/

/*************** QUIZZ CARDS DEBUT ******************/
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.cards {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.card {
    background: URL("/images/quiz_img.jpg") center center no-repeat;
    background-size: cover;
    width: 18rem;
    height: 20rem;
    font-family: "Lobster Two";
    overflow: hidden;
    border-radius: 20px;
}
.card-title {
    background: rgb(255 255 255 / 95%);
    width: 18rem;
    height: 4rem;
    text-align: center;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.btn.btn-primary {
    height: 50px;
    background: linear-gradient( #3565BC, #114198);
    color: wheat;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*************** QUIZZ CARDS FIN ******************/

h3 {
    text-align: center;
    margin: 124px;
}

/****************** PODIUM DEBUT ***************/

.fa-solid, .fas {
    font-weight: 900;
    /*font-size: 200px;*/
}

#first {
    color: #edc267;
    font-size: 250px;
    position: relative;
    bottom: 70px;
}

#second {
    color: #707070;
    font-size: 200px;
    position: relative;
    top: 51px;
}

#third {
    color: #9b6c18;
    font-size: 200px;
    position: relative;
    top: 46px;
}

.FirstBlock {
    background: #edc267;
    width: 325px;
    height: 315px;
    position: relative; 
    bottom: 70px;
}

.SecondBlock {
    background: #707070;
    width: 305px;
    height: 245px;
    position: relative;
    top: 50px;
}

.ThirdBlock {
    background: #9b6c18;
    width: 325px;
    height: 250px;
    position: relative;
    top: 45px;
}

.Blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    position: relative;
}

/****************** PODIUM FIN ***************/

/* RANKING DEBUT */

button.ranking {
    width: 425px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 9px 0px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(#3565BC, #114198);
    font-family: Bellota;
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    left: 304px;
    bottom: 25px;
}

/* QUIZ CREATION DEBUT */

button.creation {
    width: 365px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 9px 0px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(#EDC267,#9a6748);
    font-family: Bellota;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
    cursor: pointer;
}