/* IMPORTS FONT */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CONTENU NAVBAR */


.Navbar {
    background: #edc267;
    height: 86px;
    width: 1276px;
    position: sticky;
    display: flex;
    align-items: center;
    border-radius: 100px;
    margin: 40px auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Bellota", system-ui;
    padding: 0px 69px 0px 69px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

i.fa-brands.fa-html5 {
    font-size: 30px;
    color: black;
}