body {
    font-family: "Lobster Two";
    /* margin: 0px 150px; */
}

@media screen and (min-width:1200px) {
    
    *{
        margin: 0px;
        padding: 0px;
    }

    body {
        background: rgb(170,203,245);
        background: linear-gradient(0deg, rgba(170,203,245,1) 0%, rgba(238,255,254,1) 20%, rgba(238,255,254,1) 70%, rgba(170,203,245,1) 100%);
    }

    .Navbar {
        background: #edc267;
        height: 60px;
        position: sticky;
        display: flex;
        align-items: center;
        border-radius: 100px;
        margin: 10px;
        box-shadow: 0px 0px 5px #0000007d;
        font-family: "Bellota", system-ui;
    }

    .link {
        text-align: center;
        position: absolute;
        padding: 50px;
        left: 325px;
    }

    ul {
        list-style-type: none;
        margin: 20px;
        overflow: hidden;
    }

    li {
        display: inline-block;
    }

    li a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    h1, h2, p {
        font-family: "Lobster Two";
        position: relative;
    }

    h1 {
        text-align: center;

    }

    #SearchBar {
        position: relative;
        height: 125px;
        /* margin: 0px 200px; */
        display: flex;
        align-items: center;
    }

    .search-container {
        color: #009;
        /* border: 1px solid #999; */
        font-size: 12px;
        box-sizing: border-box;
        text-align: left;
        /* width: 14%; */
        position: relative;
        display: block;
        left: 71px;
        top: -120px;
        background-size: 10%;
        /* left: 495px; */
        /* margin: 20px; */
    }

    input#searchBar {
        width: 100%;
        border-radius: 100px;
        box-shadow: 0px 0px 5px #0000007d;
        padding: 5px 0px 5px 10px;
        margin: 0px 200px;
        border: none;
        font-family: "Bellota", system-ui;
    }

    .content {
        height: 800px;
        display: grid;
        /* box-sizing: border-box; */
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        grid-template-rows: repeat(3,1fr);
        margin: 0px 200px;
    }

    .card {
        background: URL("/Images/Quizz_img.jpg") center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Lobster Two";
    }
}