@media screen and (min-width:1200px) {
    body {
        background: #eefffe;
        width: 1200px;
        position: absolute;
    }

    .Navbar {
        background: #edc267;
        width: 1950px;
        height: 150px;
    }

    .link {
        text-align: center;
        position: absolute;
        padding: 50px;
        left: 325px;
    }

    ul {
        list-style-type: none;
        margin: 20px;
        overflow: hidden;
    }

    li {
        display: inline-block;
    }

    li a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    h1 {
        position: relative;
        bottom: 100px;
        padding: 10px;
        margin: 10px 10px;
        left: 50px;
    }

    #SearchBar {
        width: 1950px;
        background: #aacbf5;
        position: relative;
        height: 125px;
    }

    .search-container {
        color: #009;
        /* border: 1px solid #999; */
        font-size: 12px;
        box-sizing: border-box;
        text-align: left;
        /* width: 14%; */
        position: relative;
        display: block;
        left: 71px;
        top: -120px;
        background-size: 10%;
        /* left: 495px; */
        /* margin: 20px; */
    }

    .content {
        background: #ccc;
        width: 1950px;
        height: 600px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .Quiz1, .Quiz2, .Quiz3, .Quiz4, .Quiz5, .Quiz6 {
        background : #ffffff;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        border-color: aqua solid;
    }
}