h1 {
    text-align: center;
    margin: 20px 0 30px 0;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 50px 0 50px;
    box-sizing: border-box;
}

.topic {
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin: 35px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.topic:hover {
    box-shadow:  0 0 5px 0 #000;
}

.topic h5 {
    text-align: center;
    margin-bottom: 15px;
}

.topic p {
    line-height: 1.2;
}



